* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}
:root{
  --black: #19282F;
  --white: #E8F9FD;
  --gray: #B5D5C5;
}

/* Style the header with a grey background and some padding */
header {
  overflow: hidden;
  /* background-color: #f1f1f1; */
  padding: 30px 80px;
}

/* Style the header links */
header a {
  float: left;
  color: var(--black);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  line-height: 15px;
}
/* Last item in Header  */
header a:nth-child(5) {
  margin-right: 15px;
  color: #f1a839;
  border-radius: 15px;
}
header a:nth-child(5):hover {
  color: #551A8B;
  font-size: 25;
}
header i:last-child:hover{
  font-size: 30px;
 
}
/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
header a.logo {
  font-weight: bold;
  font-size: 25px;
}

/* Change the background color on mouse-over */
header a:hover {
  background-color: none;
  color: #f1a839;
  font-size: 20px;
   font-weight: bold;
}

/* Style the active/current link*/
.active {
  padding-bottom: 10px;
  border-bottom: 3px solid var(--black);
}

/* Float the link section to the right */
.header-right {
  float: right;
}
/* Color on Logo Name */
header span {
  color: #f1a839;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 10px;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.row {
  display: flex;
}

.column2 {
  width: 50%;
  z-index: -1;
}

i {
  font-size: 25px;
  cursor: pointer;
  /* transform: translate(-50%, -50%); */
}


.column2 > h1{
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 60px;
  text-align: left;
}
.column2 > p{
  font-size: 20px;
  color: gray;
  text-align: justify;
  text-align: left;
}
 .column2 > img{
    position: static;
    z-index: 1;
    width: 80%;
    float: right;
    overflow: hidden;
}
.icons{
  padding-top: 50px;
  margin-top: 50px;
  width:10%;
  text-align: center;
}
.icons > i{
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 30px;
  display: block;
}
.icons > i:hover{
  font-size: 25px;
  color: var(--gray);
}

.contact > a {
  text-decoration: none;
  color: var(--white);
}
.contact > a:hover{
  color: var(--white);
}
.contact{
  background: none;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  background: var(--black);
  color: var(--white); 
  font-weight: 600;
  font-size: 20px; 
}
.contact:hover{
color: var(--white);
border-color: none;
cursor: pointer;
}


.darkMode{
background: var(--black);
color: var(--white);
transition: 2s;
}
.darkMode .contact > a {
  text-decoration: none;
  color: var(--black);
}
.darkMode .contact{
  background: none;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  background: var(--white);
  font-weight: 600;
  font-size: 20px;
  color: var(--black); 
}
.darkMode .contact:hover{
background-color: var(--white);
color: var(--black);
border-color: var(--black);
cursor: pointer;
}
.darkMode header a{
  color: var(--gray);
}
.darkMode .active {
  padding-bottom: 10px;
  border-bottom: 3px solid var(--white);
}
/* Last item in Header  */
.darkMode header a:nth-child(5) {
  margin-right: 15px;
  color: #f1a839;
  border-radius: 15px;
}
.darkMode header a:nth-child(5):hover {
  color: var(--gray);
  font-size: 25;
}
.darkMode header i:last-child:hover{
  font-size: 30px;
 
}
/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.darkMode header a.logo {
  font-weight: bold;
  font-size: 25px;
}

/* Change the background color on mouse-over */
.darkMode header a:hover {
  background-color: none;
  color: #f1a839;
  font-size: 20px;
   font-weight: bold;
}
.darkMode .column2 > p{
  font-size: 20px;
  color: var(--gray);
  text-align: justify;
  text-align: left;
}




/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 600px) {
  header a {
    float: none;
    display: block;
    text-align: left;
  }
  header a:nth-child(5){
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  header i{
   font-size: 30px; 
   margin-left: 5px;
  }  
  .header-right {
    float: none;
  }

}
